*.class

Kaflog/target
Kaflog/.idea
documentation/*.aux
documentation/*.gz
documentation/*.log
documentation/*.fdb_latexmk

vagrant/.vagrant
vagrant/files/jdk-7u55-linux-x64.tar.gz
vagrant/files/kaflog*